{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <style type="text/css">
        .center {
            text-align: center;
        }

        form#demoForm textarea {
            width: 96%;
        }

        div#wimInfo h1 {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }

        div.wimtree * {
            margin: 0 auto;
            text-align: center;
        }

        div.wimtree {
            margin-bottom: 14px;
        }
    </style>

    <!-- Tree building javascript -->
    <script type="text/javascript" src="{% static 'wimsdemo/js/jquery/jquery-2.0.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'wimsdemo/js/arbor/arbor.js' %}"></script>
    <script type="text/javascript" src="{% static 'wimsdemo/js/arbor/arbor-tween.js' %}"></script>

    {% if result %}
    <script type="text/javascript">
        function getWIMinfo(wim){
            var info = "<h1>" + wim.frame + "(" + wim.anchor + ")</h1>";
            info += 'Sense:  ' + wim.sense + "<br />";
            for (i in wim.attributes){
                var attr = wim.attributes[i];
                for (attrName in attr){
                    var val = attr[attrName];
                    info += attrName + ":  " + val + "<br />";
                }
            }
            for (j in wim.relations){
                var relation = wim.relations[j];
                info += relation.relation + ":  " + relation.frame + "<br />";
            }
            return info;
        }

        (function($){

            var Renderer = function(canvas){
                var canvas = $(canvas).get(0)
                var ctx = canvas.getContext("2d");
                var particleSystem

                var that = {
                    init:function(system){
                        //
                        // the particle system will call the init function once, right before the
                        // first frame is to be drawn. it's a good place to set up the canvas and
                        // to pass the canvas size to the particle system
                        //
                        // save a reference to the particle system for use in the .redraw() loop
                        particleSystem = system

                        // inform the system of the screen dimensions so it can map coords for us.
                        // if the canvas is ever resized, screenSize should be called again with
                        // the new dimensions
                        particleSystem.screenSize(canvas.width, canvas.height) 
                        particleSystem.screenPadding(80) // leave an extra 80px of whitespace per side
                
                        // set up some event handlers to allow for node-dragging
                        that.initMouseHandling()
                    },
              
                    redraw:function(){
                        // 
                        // redraw will be called repeatedly during the run whenever the node positions
                        // change. the new positions for the nodes can be accessed by looking at the
                        // .p attribute of a given node. however the p.x & p.y values are in the coordinates
                        // of the particle system rather than the screen. you can either map them to
                        // the screen yourself, or use the convenience iterators .eachNode (and .eachEdge)
                        // which allow you to step through the actual node objects but also pass an
                        // x,y point in the screen's coordinate system
                        // 
                        ctx.fillStyle = "white"
                        ctx.fillRect(0,0, canvas.width, canvas.height)
                
                        particleSystem.eachEdge(function(edge, pt1, pt2){
                            // edge: {source:Node, target:Node, length:#, data:{}}
                            // pt1:  {x:#, y:#}  source position in screen coords
                            // pt2:  {x:#, y:#}  target position in screen coords

                            // draw a line from pt1 to pt2
                            ctx.strokeStyle = "rgba(0,0,0, .333)"
                            ctx.lineWidth = 1
                            ctx.beginPath()
                            ctx.moveTo(pt1.x, pt1.y)
                            ctx.lineTo(pt2.x, pt2.y)
                            ctx.stroke();
                            ctx.fillStyle = "black";
                            ctx.font = 'italic 13px sans-serif';
                            ctx.fillText (edge.data.label, (pt1.x + pt2.x) / 2, (pt1.y + pt2.y) / 2);

                        })

                        particleSystem.eachNode(function(node, pt){
                            // node: {mass:#, p:{x,y}, name:"", data:{}}
                            // pt:   {x:#, y:#}  node position in screen coords

                            // draw a rectangle centered at pt
                            var w = 10
                            ctx.fillStyle = (node.data.alone) ? "orange" : "black"
                            ctx.fillRect(pt.x-w/2, pt.y-w/2, w,w);
                            ctx.fillStyle = "black";
                            ctx.font = 'italic 13px sans-serif';
                            ctx.fillText (node.name, pt.x+8, pt.y+8);
                        })    			
                    },
              
                    initMouseHandling:function(){
                        // no-nonsense drag and drop (thanks springy.js)
                        var dragged = null;

                        // set up a handler object that will initially listen for mousedowns then
                        // for moves and mouseups while dragging
                        var handler = {
                            clicked:function(e){
                                var pos = $(canvas).offset();
                                _mouseP = arbor.Point(e.pageX-pos.left, e.pageY-pos.top)
                                dragged = particleSystem.nearest(_mouseP);
                    
                                var node = dragged.node;
                                $('#wimInfo').html(getWIMinfo(node.data.wim));
                                //console.log(dragged.node.name);

                                if (dragged && dragged.node !== null){
                                    // while we're dragging, don't let physics move the node
                                    dragged.node.fixed = true
                                }

                                $(canvas).bind('mousemove', handler.dragged)
                                $(window).bind('mouseup', handler.dropped)

                                return false
                            },
                            dragged:function(e){
                                var pos = $(canvas).offset();
                                var s = arbor.Point(e.pageX-pos.left, e.pageY-pos.top)

                                if (dragged && dragged.node !== null){
                                    var p = particleSystem.fromScreen(s)
                                    dragged.node.p = p
                                }

                                return false
                            },

                            dropped:function(e){
                                if (dragged===null || dragged.node===undefined) return
                                if (dragged.node !== null) dragged.node.fixed = false
                                dragged.node.tempMass = 1000
                                dragged = null
                                $(canvas).unbind('mousemove', handler.dragged)
                                $(window).unbind('mouseup', handler.dropped)
                                _mouseP = null
                                return false
                            }
                        }
                
                        // start listening
                        $(canvas).mousedown(handler.clicked);

                    },
              
                }
                return that
            }
            
            

            $(document).ready(function(){

                
                // create the system with sensible repulsion/stiffness/friction
                var sys = arbor.ParticleSystem(1000, 600, 0.5)         

                // use center-gravity to make the graph settle nicely (ymmv)
                sys.parameters({
                    gravity:true
                })
                
                // our newly created renderer will have its .init() method called shortly by sys...
                sys.renderer = Renderer("#viewport"); 
               
                var wims = {{ result|safe }};            
            
                for (i in wims) {
                    var wim = wims[i];
                    sys.addNode(wim.frame, {
                        wim : wim
                    });
                }
            
                for (i in wims) {
                    var wim = wims[i];
                    for (j in wim.relations){
                        var relation = wim.relations[j];
                        sys.addEdge(wim.frame, relation.frame, {
                            label: relation.relation
                        });
                    }
                }
                
            })
            

        })(this.jQuery)
        
    </script>
    {% endif %}

{% endblock %}

{% block main %}
    <div id="demo">
        <h1>WIMs Demo</h1>
        <p>To get a feel for WIMs, we've put together a little demo. Type in a single sentence in the text box below, and we'll analyze the WIM for you:</p>

        <form method="post"
              action=""
              class=""
              id="demoForm">

            <fieldset>
                <legend>WIM Analyzer</legend>

                <div id="alerts">
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">x</button>
                        <h2 class="alert-heading">{% block form_error_heading %}Whoops!{% endblock %}</h2>
                        <p>{{ error }}<p>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="clearfix"></div>

                {% for field in form %}
                <div class="control-group{% if field.errors %} error{% endif %}">
                    <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                        {% if field.errors %}
                        {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span>
                        {% endfor %}
                        {% else %}
                        <span class="help-inline"></span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                <div class="form-actions">
                    <button class="btn btn-inverse" type="submit">Analyze</button>
                    <button class="btn" type="reset">Clear</button>
                    {% csrf_token %}
                </div>

            </fieldset>

        </form>

        
        {% if result %}
        <h2>Analysis Result</h2>
        <p class="text-muted">Analysis in {{ analyze_time }} seconds</p>
        <div class="wimtree">
            <canvas id="viewport" width="670" height="400" display="inline-block"></canvas>
            <div id="wimInfo" display="inline-block">
                <h1>No frame selected</h1>
            </div>
        </div>
        <pre>{{ result }}</pre>
        {% endif %}

    </div>
{% endblock %}
